.about {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  margin-bottom: 36px;

  @media ($m-s) {
    margin-bottom: 56px;
  }
  @media ($m-m) {
    flex-direction: row;
  }

  &__video {
    display: flex;
    width: 40%;
    position: relative;
    cursor: pointer;
  }

  &__info {
    width: 100%;
    font-family: Franklin Gothic Demi;
    color: $c-white;
    margin-bottom: 24px;

    @media ($m-m) {
      width: 50%;
      margin-bottom: 0;
    }
  }
}
.about-video {
  width: 100%;
  align-self: center;
}
.about-info__title {
  margin-bottom: 16px;
  font-size: 28px;
  line-height: 1.333em;

  @media ($m-s) {
    font-size: 36px;
    max-width: 600px;
  }
}
.about-info__text {
  font-size: 18px;
  line-height: 1.200em;

  & p {


  }

  @media ($m-s) {
    font-size: 20px;
  }
  @media ($m-m) {
    p {
      max-width: 572px;
    }
    p:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}