.block {
  position: relative;

  &--gray {
    position: relative;
    background-color: $c-gray;
  }

  &--gr-top:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 72px;
    top: -64px;
    background: url("../img/gray-line.svg");
  }

  &--wh-ln:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    background: url("../img/white-top-line.svg");
  }

  &--green {
    background-color: $c-green;
  }

  &--green-bl:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 50px;
      bottom: 0;
      background: url("../img/green-curve-top.svg");
  }

  &--oh {
    overflow: hidden;
  }

  &--green-c {
    background: url("../img/big-leaf.png");
    background-position: center;
    padding: 36px 0 36px 0;
  }

  &--green-complex {
    z-index: 1;
    padding-bottom: 74px;
    background-color: $c-green;

    color: $c-white;
    position: relative;

    &:before {
      z-index: -1;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: url("../img/green-oval-bg.svg") no-repeat;
      background-size: 100% 100%;
    }

    @media ($m-s) {
      background-color: $c-green-second;

      &:before {
        content: '';
      }
    }
  }

  &--green-second {

    background-color: #66A555;
    padding-bottom: 60px;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      top: -70px;
      height: 0;
      background: url("../img/top-green-2.svg");
    }

    &:after {
      z-index: 1;
      content: '';
      position: absolute;
      width: 100%;
      bottom: -70px;
      height: 0;
      background: url("../img/bottom-green-2.svg");
    }

  }

  &--pb142 {
    padding-bottom: 64px;
  }

  &--pb64 {
    padding-bottom: 64px;
  }

  &--pb148 {
    padding-bottom: 48px;
  }

  &--pb180 {
    padding-bottom: 100px;
  }

  &--pb72 {
    padding-bottom: 24px;
  }

  @media ($m-xs) {
    &--pb72 {
      padding-bottom: 72px;
    }

    &--pt72 {
      padding-top: 72px;
    }
    &--pb142 {
      padding-bottom: 142px;
    }
    &--green-c {
      padding: 88px 0 72px 0;
    }
  }

  @media ($m-s) {

    &--pb148 {
      padding-bottom: 148px;
    }
    &--pb180 {
      padding-bottom: 180px;
    }
    &--green-second:before {
      height: 72px;
    }
    &--green-second:after {
      height: 72px;
    }
    &--wh-ln:before {
      height: 72px;
    }
    &--green-bl:before {
      height: 72px;
    }
  }
}

.block__sub-title {
  margin: 0 auto;
  text-align: left;
  max-width: 854px;
  font-family: Franklin Gothic Demi;
  font-size: 18px;
  line-height: 1.200em;
  color: $c-text-primary;

  & span {
    font-family: Philosopher;
    color: $c-green;
    font-weight: bold;
  }
  @media ($m-s) {
    text-align: center;
    font-size: 20px;
  }
}
.block-container {
  max-width: 1170px;
  margin: 0 auto;

  &--mw1110 {
    max-width: 1110px;
  }
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 16px;

  &--1400 {
    max-width: 1392px;
  }

  &--1356 {
    max-width: 1356px;
  }

  @media ($m-xl) {
    padding: 0;
    &--1400 {

    }
  }
}

.block__title {
  padding: 48px 0 36px;
  text-align: left;
  font-family: Franklin Gothic Heavy;
  font-size: 28px;
  line-height: 1.292em;
  color: $c-text-primary;

  &--p50-34 {
    padding: 24px 0 24px 0;
  }

  &--pb16 {
    padding-bottom: 16px;
  }

  &--ful-w {
    padding: 0 0 56px!important;
  }

  &--white {
    color: $c-white;
  }

  & span {
    font-family: 'Philosopher';
  }

  &--mw {
    position: relative;
    max-width: 672px;
    margin: 0 auto;
    width: 100%;

    &:before {
      display: flex;
      align-items: center;
      justify-content: left;
      left: -100px;
      bottom: 0;
      top: 34px;
      content: url("../img/warning.svg");
    }

    &:after {
      display: flex;
      align-items: center;
      justify-content: center;
      right: -100px;
      bottom: 0;
      top: 34px;
    }
  }

  &--pb40 {
    padding-bottom: 24px;
  }

  &--pb108 {
    padding-bottom: 108px;
  }

  @media ($m-xs) {
    font-size: 32px;
    padding: 72px 0 56px;

    &--pb16 {
      padding-bottom: 16px;
    }
    &--pb40 {
      padding-bottom: 40px;
    }
    &--p50-43 {
      padding: 50px 0 43px 0;
    }

  }

  @media ($m-s) {
    font-size: 48px;
    text-align: center;

    &--ful-w {
      padding: 72px 0 56px!important;
    }

    &--mw {
      width: 62%;

      &:before {
        left: -144px;
        justify-content: center;
        position: absolute;
      }
      &:after {
        content: url("../img/warning.svg");
        right: -144px;
        position: absolute;
      }
    }
  }

  @media ($m-xl) {
    &--p136 {
      padding: 72px 136px 56px;
    }

  }
}

.block-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 38px;

  &--fs {
    align-items: flex-start;
  }
  &--mb8 {
    margin-bottom: 8px;
  }

  &--col-rev {
    flex-direction: column-reverse;
  }


  @media ($m-s) {
    flex-direction: row;

    &--col-rev {
      flex-direction: row;
    }
  }

  @media ($m-l) {

    &--m {
      margin: 0 -52px 0 -52px;
    }
  }
}

.block-splited {

  &:before {
    z-index: -1;
    position: absolute;
    height: 100%;
    background: url("../img/left-side.svg") no-repeat;
    background-size: 100% 100%;
    width: 66.77%;
  }

  @media ($m-l) {
    &:before {
      content: '';
    }
  }
}

.block-blur {
  z-index: -2;
  position: absolute;
  top: -3PX;
  bottom: -98px;
  left: auto;
  right: -3px;
  height: 102%;
  width: 101%;
  background: url("../img/fito-complex.png") no-repeat;
  background-size: cover;
  background-position: right bottom;

  @media ($m-ml) {
    width: 91.3%;
    right: -98px;
  }

  //&:before {
  //  z-index: -1;
  //  content: "";
  //  position: absolute;
  //  top: 0;
  //  bottom: 0;
  //  left: 0;
  //  right: 0;
  //  height: 100%;
  //  background-color: $c-green;
  //}
}