.block {
  position: relative;

  &--gray {
    position: relative;
    background-color: $c-gray;
  }

  &--gr-top:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 72px;
    top: -64px;
    background: url("../img/gray-line.svg");
  }

  &--wh-ln:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 72px;
    bottom: 0;
    background: url("../img/white-top-line.svg");
  }

  &--green {
    background-color: $c-green;
  }

  &--green-bl {

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 72px;
      bottom: 0;
      background: url("../img/green-curve-top.svg");
    }
  }

  &--oh {
    overflow: hidden;
  }

  &--green-c {
    background: url("../img/big-leaf.png");
    background-position: center;
    padding: 88px 0 72px 0;
  }

  &--green-complex {
    z-index: 1;
    padding-bottom: 74px;
    background-color: $c-green-second;
    color: $c-white;
    position: relative;

    &:before {
      z-index: -1;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: url("../img/green-oval-bg.svg") no-repeat;
      background-size: 100% 100%;
    }
  }

  &--green-second {

    background-color: #66A555;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      top: -70px;
      height: 72px;
      background: url("../img/top-green-2.svg");
    }

    &:after {
      z-index: 1;
      content: '';
      position: absolute;
      width: 100%;
      bottom: -70px;
      height: 72px;
      background: url("../img/bottom-green-2.svg");
    }

  }

  &--p50-72 {
    padding: 50px 0 72px 0;
  }

  &--pb142 {
    padding-bottom: 142px;
  }

  &--pt72 {
    padding-top: 72px;
  }

  &--pb64 {
    padding-bottom: 64px;
  }

  &--pb180 {
    padding-bottom: 180px;
  }
}

.block__sub-title {
  margin: 0 auto;
  text-align: center;
  max-width: 854px;
  font-family: Franklin Gothic Demi;
  font-size: 20px;
  line-height: 1.200em;
  color: $c-text-primary;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 16px;

  &--1400 {
    max-width: 1392px;
  }

  &--1356 {
    max-width: 1356px;
  }
}

.block__title {
  padding: 72px 0 56px 0;
  text-align: center;
  font-family: Franklin Gothic Heavy;
  font-size: 48px;
  line-height: 1.292em;
  color: $c-text-primary;

  &--mw {
    position: relative;
    max-width: 672px;
    margin: 0 auto;


    &:before {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      left: -144px;
      bottom: 0;
      top: 0;

      content: url("../img/warning.svg");

    }
    &:after {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      content: url("../img/warning.svg");
      right: -144px;
      bottom: 0;
      top: 0;
    }
  }
  &--pb40 {
    padding-bottom: 40px;
  }
  &--pb108 {
    padding-bottom: 108px;
  }
}

.block-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  &:last-child {
    margin-bottom: 68px;
  }
}

.block-splited {

  &:before {
    z-index: -1;
    position: absolute;
    content: '';
    height: 100%;
    background: url("../img/left-side.svg") no-repeat;
    background-size: 100% 100%;
    width: 66.77%;
  }
}

.block-blur {
  z-index: -2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: url("../img/fito-complex.png") no-repeat;
  background-size: cover;
  filter: blur(2px);

  &:before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: $c-green;
    opacity: .8;
  }
}

.video {
  position: relative;
  width: 48%;
  border-radius: 20px;
  overflow: hidden;

  &--w {
    width: auto;
  }
}

.video:after {
  content: '';
  position: absolute;
  margin: auto;
  width: 56px;
  height: 56px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../img/play.svg") no-repeat;
}