.benefits {
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;


  @media ($m-m) {
    width: 110%;
    margin-left: -5%;
  }
}
.benefits__title {
  margin-bottom: 33px;
  font-family: Franklin Gothic Demi;
  font-size: 36px;
  line-height: 1.333em;
  color: $c-white;
}
.benefits__slider {
  overflow: hidden;
  width: 96%;
  margin-left: 0 auto;

  @media ($m-s) {
    overflow: visible;
    width: 50%;
  }
  @media ($m-xl) {
    width: 31%;

  }

}
.benefits-slide {
  box-sizing: border-box;
  padding: 22px;
  min-height: 156px;
  background-color: $c-white;
  font-family: Franklin Gothic Book;
  font-size: 18px;
  border-radius: 20px;
  transition: opacity .4s;
}
.benefits-slide.swiper-slide {
  opacity: .75;
}
.benefits-slide.swiper-slide-next {
  @media ($m-xl) {
    opacity: 1;
  }
}
.benefits-slide.swiper-slide-active {
  opacity: 1;
}