.complex-title {
  padding-top: 72px;
  margin-bottom: 24px;
  font-family: Franklin Gothic Heavy;
  font-size: 48px;
  line-height: 1.292em;
  text-align: center;
}
.complex-subtitle {
  margin: 0 auto;
  max-width: 686px;
  font-family: Franklin Gothic Demi;
  font-size: 20px;
  line-height: 1.200em;
  text-align: center;
}
.complex-boxes {
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
}