.header {
  z-index: 3;
  position: absolute;
  top: 0;
  width: 100%;
  font-family: Franklin Gothic Demi;
  color: $c-white;
}
.header_inner {
  margin-top: 40px;
  padding:0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left {

}
.header-right {
  display: flex;
  align-items: center;
}
.head-content {
  z-index: 1;
  background-color: $c-gray;
  position: relative;
}
.head-content:before {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
  background: url("../img/green-head-bg.png") no-repeat;
  background-size: 69.68% 100%;
  background-position: right;
}
.head-content:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 92.15%;
  top: auto;
  bottom: 0;
  left: auto;
  right: 6.459%;
  background: url("../img/family.png") no-repeat;
  background-size: 65% auto;
  background-position: right;
}
.head-content__left {
  padding: 154px 0 70px 80px;

  //padding-left: 80px;
  max-width: 792px;
}
.header-instructions {
  display: flex;
  align-items: center;
}
.header-instructions__logo {
  position: relative;
  margin-right: 12px;
  display: inline;
  width: 44px;
  height: 44px;
  background-color: $c-white;
  border-radius: 100%;
}
.instruction-logo__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.header-instructions__text {

}
.instructions-title {
  font-size: 20px;
  line-height: 1.300em;
}
.instructions-download {
  cursor: pointer;
}
.header-telephone {
  margin-left: 48px;
  &__tel {
    font-size: 36px;
    line-height: 1.333em;
  }
  &__call {
    text-align: right;
    cursor: pointer;
  }
}

.head-content__title {
  margin-bottom: 32px;
  font-family: Franklin Gothic Heavy;
  font-size: 64px;
  line-height: 0.969em;
  color: $c-text-primary;

  & p:first-child {
    font-family: 'Philosopher';
    color: $c-green;
  }
}
.head-content__sub-title {
  max-width: 534px;
  margin-bottom: 40px;
  font-family: Franklin Gothic Demi;
  font-size: 20px;
  line-height: 1.200em;
  color: $c-text-secondary;
}
.btn {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Franklin Gothic Book;
  font-size: 18px;
  line-height: 1.222em;
  color: $c-text-primary;
  background-color: $c-yellow;
  border-radius: 144px;
  cursor: pointer;

  &--head {
  width: 265px;
  height: 48px;
  }
  &--healing {
    width: 196px;
    height: 48px;
  }
}
.head-content__items {
  display: flex;
  justify-content: space-evenly;
  padding: 37px 0 37px 0;
}
.head-item {
  display: flex;
  width: 258px;
  padding: 0px 32px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__text {
    font-family: Franklin Gothic Demi;
    font-size: 18px;
    color: $c-text-third;
    line-height: 1.111em;
    text-align: center;
  }
}
.head-item__icon {
  position: relative;
  margin-bottom: 12px;
  width: 64px;
  height: 64px;
  background-color: #EEEEEE;
  border-radius: 100%;
}
.icon-features {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
