.header {
  z-index: 3;
  position: absolute;
  top: 0;
  width: 100%;
  font-family: Franklin Gothic Demi;
  color: $c-white;
}
.header_inner {
  margin-top: 20px;
  padding:0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media ($m-s) {
    margin-top: 40px;
    padding:0 80px;
  }
}
.header-left {

}

.header-logo {
  width: 100%;
  height: 100%;
}
.header-left__logo {
  width: 98px;
  height: 31px;

  @media ($m-xs) {
    width: 192px;
    height: 62px;
  }
}

.header-right {
  display: flex;
  flex-direction: column;
  color: $c-text-primary;

  @media ($m-s) {

  }

  @media ($m-m) {
    flex-direction: row;
    color: $c-white;
  }
}
.head-content {
  z-index: 1;
  background-color: $c-gray;
  position: relative;
}
.head-content:before {
  z-index: -1;
  content: '';
  position: absolute;
  width: 0;
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
  background: url("../img/1.png") no-repeat;
  background-size: cover;
  background-position: right;

  @media ($m-m) {
    width: 100%;
  }

  @media ($m-xl) {
    background-size: contain;
  }
}
.head-content:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 0;
  height: 89%;
  top: auto;
  bottom: 0;
  left: auto;
  right: 6.459%;
  background: url("../img/family.png") no-repeat;
  background-size: contain;
  background-position: right;

  @media ($m-m) {
    width: 100%;
  }
}
.head-content__left {
  padding: 154px 0 20px 20px;
  width: 100%;

  @media ($m-s) {
    padding: 210px 0 70px 80px;
  }
  @media ($m-m) {
    width: 41.25%;
  }
}
.header-instructions {
  display: flex;
  align-items: center;
}
.header-instructions__logo {
  position: relative;
  margin-right: 12px;
  display: inline;
  width: 22px;
  height: 22px;
  border-radius: 100%;

  @media ($m-m) {
    background-color: $c-white;
    width: 44px;
    height: 44px;
  }
}
.instruction-logo__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.header-instructions__text {

}
.instructions-title {
  line-height: 1.300em;
  font-size: 14px;

  @media ($m-xs) {
    font-size: 20px;

  }

}
.instructions-download {
  cursor: pointer;
}
.header-telephone {
  text-align: right;


  &__tel {
    font-size: 24px;
    line-height: 1.333em;
    white-space: nowrap;
  }
  &__call {
    text-align: right;
    cursor: pointer;
    line-height: 1.250em;
  }

  @media ($m-xs) {
    &__tel {
      font-size: 36px;
    }
  }
  @media ($m-m) {
    margin-left: 64px;
  }
}

.head-content__title {
  margin-bottom: 32px;
  font-family: Franklin Gothic Heavy;
  font-size: 54px;
  line-height: 0.969em;
  color: $c-text-primary;

  @media ($m-xxs) {
    font-size: 64px;
    padding-right: 76px;
  }

  & p:first-child {
    font-family: 'Philosopher';
    color: $c-green;
  }
}
.head-content__sub-title {
  margin-bottom: 40px;
  font-family: Franklin Gothic Demi;
  font-size: 36px;
  line-height: 1.139em;
  color: $c-text-secondary;
}
.btn {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Franklin Gothic Book;
  font-size: 18px;
  line-height: 1.222em;
  color: $c-text-primary;
  background-color: $c-yellow;
  border-radius: 144px;
  cursor: pointer;

  &--head {
  width: 265px;
  height: 48px;
  }
  &--healing {
    width: 196px;
    height: 48px;
  }
}
.head-content__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 38px 0;
  margin: -24px 0 0 -24px;
}
.head-item {
  display: flex;
  width: 100%;
  padding: 24px 0 0 24px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &__text {
    padding: 0 13px;
    font-family: Franklin Gothic Demi;
    font-size: 20px;
    color: $c-text-third;
    line-height: 1em;
    text-align: center;
  }

  @media ($m-xxm) {
    width: 50%;
  }
  @media ($m-xs) {
    width: 33.333%;
  }
  @media ($m-s) {
    width: 25%;
  }
  @media ($m-m) {
    width: 20%;
  }
}
.head-item__icon {
  position: relative;
  margin-bottom: 16px;
  width: 80px;
  height: 80px;
  background-color: #EEEEEE;
  border-radius: 100%;
}
.icon-features {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.head-mobile-bg {
  position: absolute;
  bottom: 0;
  right: 0;
}