.block__sub-title {
  margin: 0 auto;
  text-align: center;
  max-width: 854px;
  font-family: Franklin Gothic Demi;
  font-size: 20px;
  line-height: 1.200em;
  color: $c-text-primary;
}
.container {
  margin: 0 auto;
  max-width: 1170px;
    &--1400 {
      max-width: 1400px;
    }
}
.block__title {
  padding: 72px 0 56px 0;
  text-align: center;
  font-family: Franklin Gothic Heavy;
  font-size: 48px;
  line-height: 1.292em;
  color: $c-text-primary;
}
.block-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.section__text {
  width: 48%;
}
.section__img {
  width: 42%;
}
.section-title {
  margin-bottom: 16px;
  font-family: Franklin Gothic Demi;
  font-size: 36px;
  line-height: 1.333em;
  color: $c-text-primary;
}
.section-text {
  font-family: Franklin Gothic Book;
  font-size: 20px;
  line-height: 1.200em;
  color: $c-text-third;
}

.section-img {

}
.parasit-img {
  width: 100%;
}
.block-bottom-curve {
  position: relative;

}
.gray-curve-img {
  position: absolute;
  bottom: 0;
  width: 100%;
}
