.section__text {
  width: 100%;

  @media ($m-s) {
    width: 48%;
  }
}
.section__img {
  width: 100%;
  display: flex;
  align-items: center;

  &--mt {
    margin-top: 24px;
  }

  &--mb {
    margin-bottom: 24px;
  }

  @media ($m-s) {
    width: 42%;

    &--mt {
      margin-top: 0;
    }

    &--mb {
      margin-bottom: 0;
    }
  }
}
.section-title {
  margin-bottom: 16px;
  font-family: Franklin Gothic Demi;
  font-size: 36px;
  line-height: 1.333em;
  color: $c-text-primary;
}
.section-text {
  font-family: Franklin Gothic Book;
  font-size: 20px;
  line-height: 1.200em;
  color: $c-text-third;

  @media ($m-s) {
    flex-direction: row;
  }
}

.section-img {

  @media ($m-s) {
    flex-direction: row;
  }
}
.parasit-img {
  width: 100%;
}
