.people-slider {
  overflow: hidden;
}
.people-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__portrait {
    width: 100%;
    margin-bottom: 24px;
  }
  &__content {
    width: 100%;
  }


  @media ($m-s) {
    flex-direction: row;

    &__portrait {
      width: 50%;
      margin-bottom: 0;
    }
    &__content {
      width: 50%;
    }
  }
}

.people-pic__img {
  max-height: 369px;
  max-width: 355px;
  height: 100%;
}
.people-slide__pic {
  height: 300px;
  text-align: center;


  @media ($m-xs) {
    height: 369px;

  }

  @media ($m-m) {
    float: right;
    padding-right: 14%;
    text-align: unset;
  }
}
.people-slide__img {
  height: 100%;
}
.people-slide__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Franklin Gothic Book;
}
.people-content__title {
  font-family: Franklin Gothic Demi;
  font-size: 28px;
  line-height: 1.333em;
  color: $c-text-primary;

  @media ($m-xs) {
    font-size: 36px;
  }
}
.people-content__subtitle {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 1.250em;
  color: $c-text-pale;
}
.people-content__text {
  position: relative;
  margin-bottom: 16px;
  max-width: 562px;
  width: 100%;
  max-height: 216px;
  font-size: 20px;
  line-height: 1.200em;
  color: $c-text-secondary;
  overflow: hidden;
  transition: max-height .6s;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  }

  @media ($m-s) {
    width: 80%;
  }
}
.full-text {
  max-height: unset;
  transition: max-height .6s;
  &:before {
    content: none;
  }
}


.people-content__show-more {
  font-size: 16px;
  line-height: 1.250em;
  color: $c-green;
  cursor: pointer;
}