.reasones-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 0 -24px;
  color: $c-white;
}
.reasones-grid__item {
  width: 50%;
  height: 176px;
  padding: 0 0 0 24px;
  display: flex;
  align-items: center;
  flex-direction: column;

  @media ($m-xxm) {

  }
  @media ($m-xs) {
    width: 33.333%;
  }
  @media ($m-s) {
    width: 25%;
  }
  @media ($m-m) {
    width: 20%;
  }
  @media ($m-xl) {
    width: 16.666%;
  }
}

.reasones-item__icon {
  margin-bottom: 18px;
  height: 64px;
  width: 64px;
}

.reasones-item__text {
  font-family: Franklin Gothic Demi;
  font-size: 14px;
  line-height: 1.200em;
  text-align: center;



  @media ($m-xxm) {
    font-size: 16px;
  }
  @media ($m-s) {
    font-size: 18px;
  }
  @media ($m-m) {
    font-size: 20px;

    &--fs18 {
      font-size: 18px;
    }
  }

}