@font-face {
  font-family: 'Franklin Gothic Book';
  src:url("../fonts/franklin_gothic_book.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Franklin Gothic Demi';
  src: url('../fonts/franklin_gothic_demi.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Franklin Gothic Heavy';
  src:url('../fonts/franklin_gothic_heavy.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Franklin Gothic Heavy';
  src:url('../fonts/franklin_gothic_heavy_italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
