// Media
$m-xxs: "min-width: 375px";
$m-xs: "min-width: 568px";
$m-s: "min-width: 768px";
$m-m: "min-width: 992px";
$m-ml: "min-width: 1200px";
$m-l: "min-width: 1280px";
$m-xl: "min-width: 1440px";
$m-xxl: "min-width: 1600px";
$m-xxxl: "min-width: 1920px";

$ma-xxs: "max-width: 374px";
$ma-xs: "max-width: 567px";
$ma-s: "max-width: 767px";
$ma-m: "max-width: 991px";
$ma-ml: "max-width: 1199px";
$ma-l: "max-width: 1279px";
$ma-xl: "max-width: 1439px";
$ma-xxl: "max-width: 1599px";

// Colors
$c-gray: #FAFBFB;
$c-text-primary: #4E4D6C;
$c-text-secondary: #858B93;
$c-text-pale: #A7A9AC;
$c-text-third: #818285;
$c-green: #00AF61;
$c-green-second: #00D581;
$c-red: #F44B55;
$c-block: #F3F4F5;
$c-white: #FFFFFF;
$c-yellow: #FFE620;
$c-black: #000000;
$c-black-20: #202020;
$c-modal-overlay: rgba(72, 22, 93, .6);
